.terminal-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  font-family: 'Courier New', Courier, monospace;
  background-color: #000;
  color: #fff;
  padding-top: 5vh;
}

.tabs {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  padding-left: 5vh;
}

.tab {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  margin-bottom: 10px;
}

.tab.active {
  background-color: #666;
}

.view-container {
  display: flex;
  justify-content: center;
  flex: 1;
}

.view {
  width: 600px;
}

.view-content {
  display: none;
  padding: 20px;
  border: 1px solid #666;
}

.view-content2 {
  display: none;
  padding: 20px;
  border: 1px solid #666;
}

.view-content.active {
  display: block;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

label {
  margin-right: 10px;
  width: 200px;
}

input,
select {
  width: 100%;
  height: 80px;
  padding: 5px;
}


button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  
}

button:hover {
  background-color: #666;
}

.result-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0px;
  padding-right: 15vh;
}

.result-container label {
  margin-bottom: 10px;
}

.input-textarea {
  width: 100%;
  height: 80px; /* Adjust the height as needed */
  padding: 5px;
  white-space: pre-wrap;
  /* Add any additional styles for the input textarea */
}

.result-textarea {
  width: 450px;
  height: 450px; /* Adjust the height as needed */
  padding: 5px;
  white-space: pre-wrap;
  /* Add any additional styles for the result textarea */
}

.item-display {
  margin-right: 100px;
}

.item-image {
  width: 256px; /* Set the desired width */
  height: 256px; /* Set the desired height */
  object-fit: cover; /* Scale and crop the image to fit the specified dimensions */
}