.terminal-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  font-family: 'Courier New', Courier, monospace;
  background-color: #000;
  color: #fff;
  padding-top: 5vh;
}

.tabs {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.tab {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  margin-bottom: 10px;
}

.tab.active {
  background-color: #666;
}

.view-container {
  display: flex;
  justify-content: center;
  flex: 1;
}

.view {
  width: 400px;
}

.view-content {
  display: none;
  padding: 20px;
  border: 1px solid #666;
}

.view-content.active {
  display: block;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

label {
  margin-right: 10px;
}

input {
  width: 100%;
  height: 30px;
  padding: 5px;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #666;
}

.result-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
  padding-right: 15vh;
}

.result-container label {
  margin-bottom: 10px;
}

textarea {
  width: 400px;
  height: 500px; /* Adjust the height as per your requirements */
  padding: 5px;
}
